.header__title {
    max-width: 730px;
    font-weight: bold;
    line-height: 96px;
    font-size: 102px;
    position: relative;
    left: 64px;
    z-index: 10;
    display: flex;
    align-self: center;
    margin: 0;
  }